<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="Tracker.DataAccess.BlackBox.Tests.Properties.Settings.MainConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Tracker;Integrated Security=True" />
		<add name="Tracker.DataAccess.BlackBox.Tests.Properties.Settings.FilesConnectionString"
		     connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Tracker_Files;Integrated Security=True" />
	</connectionStrings>
</configuration>