<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<sectionGroup name="mailSettings">
		</sectionGroup>
	</configSections>

	<appSettings>
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="JobPausePeriod" value="00:00:30" />
		<add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="CourseSourceAttempts" value="5" />
	</appSettings>

	<mailSettings xdt:Transform="Replace">
		<default deliveryMethod="Network" from="robot@tracker.ru">
			<network host="smtp.gmail.com" enableSsl="true" userName="robot@tracker.ru" password="123"
			         port="587" />
		</default>
	</mailSettings>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.webServer>
		<rewrite xdt:Transform="Insert">
			<rules>
				<clear />
				<rule name="login" enabled="true" stopProcessing="true">
					<match url="^(.*)$" />
					<action type="Redirect" url="http://tracker.ru/authentication/login" appendQueryString="true"
					        logRewrittenUrl="false" redirectType="Permanent" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(login.)(tracker.ru)$" />
					</conditions>
				</rule>
				<rule name="TrackerTrackerLogin" stopProcessing="true">
					<match url="^(\/?)$" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(.*?)(tracker.Tracker.ru)$" />
					</conditions>
					<action type="Redirect" url="http://tracker.Tracker.ru/authentication/login" />
				</rule>
				<rule name="TrackerTrackerIndexBlocker" stopProcessing="true">
					<match url="^(.*?)index.html$" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(.*?)(tracker.Tracker.ru)$" />
					</conditions>
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied."
					        statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>